.rowone {
  height: 800px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 14px;
}

h3 {
  font-size: 14px;
}

h6 {
  font-size: 16px;
  text-align: center;
  font-weight: 700;
}

.posts {
    background: #C9F2C7;
    border-radius: 15px;
    margin-top: 7px;
    height: 300px;
    border: 2px #FFFBFE;
    outline: 20px #8FECC8;
}
