.merowone {
  height: 700px;
  width: 100%;
}



.imageofme {
  display: block;
  height: 600px;
  width: 450px;
  border-radius: 10px;
  margin-top: 45px;
  margin-right: 55px;
  margin-left: 60px;
}

.bio {
  height: 400px;
  width: 550px;
  margin-top: 70px;
  font-size: 18px;
  font-family: 'Ledger', serif;
  text-align: justify;
}
