.App-footer {
  height: 50px;
  width: 100%;
}

.App-title-line {
  height: 20px;
  background-color: #706C61;

}

.Footer-line {
  height: 50px;
  background-color: #7A7D7D;
  color: white;


}

.weblink {
  font-size: 15px;
  padding:10px;
  color: #C9ECC8;
}
