.App-header {
  text-align: center;
  background-color: #FFFBFE;
  height: 250px;
  color: white;
}

.App-title {
  font-family: 'Dancing Script', cursive;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 130px;
  color: #706C61;

}

.App-line {
  height: 15px;
  background-color: #8FECC8;
}

.pagelinks {
  margin: auto;
  width: 1000px;
  text-align: center;
  box-shadow: 0px 0px 2px 2px #706C61;
  background-color: #706C61;
  height: 30px;
}

.headingrow nav ul li {
  font-family: 'Ledger', serif;
  display: inline-block;
  margin-right: 50px;
  padding-right: 40px;
  font-size: 20px;
  font-variant: small-caps;
}

a {
  color: #8FECC8;
}

a:hover {
  color: #8FECC8;
}
