.App-header {
  text-align: center;
  background-color: #C9F2C7;
  height: 150px;
  color: white;
  padding-top: 10px;
}

.App-title {
  font: Montserrat;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 60px;
  color: #706C61;

}

.App-title-line {
  height: 15px;
  width: 100%;
  background-color: #706C61;
}

.headingrow nav ul li {
  font-family: Domine;
  display: inline-block;
  margin-right: 50px;
  padding-right: 20px;
  font-size: 20px;
}
