.categories {
  background: #7A7D7D;
  border-radius: 15px;
  margin-top: 40px;
  width: 250px;
  height: 300px;
  padding:10px;
  border: 2px dashed #FFFBFE;
  outline: 20px #7A7D7D;
  box-shadow: 0px 0px 5px 8px #7A7D7D;
  font-size: 15px;
  text-align: left;
  color: #8FECC8;
}
