@import "../node_modules/react-image-gallery/styles/css/image-gallery.css";

.App {
  text-align: center;
  background-color: #F2F2F2;
  color: #7A7D7D;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.boxes {
  background: #8FECC8;
  border-radius: 15px;
  margin: 110px auto;
  width: 300px;
  height: 200px;
  border: 2px dashed #ffffff;
  outline: 20px #8FECC8;
  box-shadow: 0px 0px 4px 4px #8FECC8;
  font-size: 25px;
  text-align: center;
  padding: 60px;
}
